USE [C:\USERS\ADMIN\SOURCE\REPOS\STUDUCKAPP\STUDUCKAPP\STUDUCKDB.MDF]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 20.05.2026 23:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[SubjectID] [int] NULL,
	[TeacherID] [int] NULL,
	[GradeValue] [decimal](4, 2) NULL,
	[DateGiven] [date] NULL,
	[DateGivenNow] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 20.05.2026 23:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 20.05.2026 23:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NULL,
	[SubjectID] [int] NULL,
	[TeacherID] [int] NULL,
	[DayOfWeek] [nvarchar](20) NULL,
	[Time] [nvarchar](20) NULL,
	[Room] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 20.05.2026 23:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] NOT NULL,
	[GroupID] [int] NULL,
	[EnrollmentDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 20.05.2026 23:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 20.05.2026 23:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherID] [int] NOT NULL,
	[Department] [nvarchar](100) NULL,
	[SubjectID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.05.2026 23:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [varchar](100) NULL,
	[GroupID] [int] NULL,
	[ProfilePicture] [varbinary](max) NULL,
	[Address] [nvarchar](255) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[IsAdmin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([GradeID], [StudentID], [SubjectID], [TeacherID], [GradeValue], [DateGiven], [DateGivenNow]) VALUES (1, 1, 1, 9, CAST(4.50 AS Decimal(4, 2)), CAST(N'2023-12-15' AS Date), CAST(N'2025-07-02' AS Date))
INSERT [dbo].[Grades] ([GradeID], [StudentID], [SubjectID], [TeacherID], [GradeValue], [DateGiven], [DateGivenNow]) VALUES (2, 1, 1, 9, CAST(3.80 AS Decimal(4, 2)), CAST(N'2024-01-05' AS Date), CAST(N'2025-07-02' AS Date))
INSERT [dbo].[Grades] ([GradeID], [StudentID], [SubjectID], [TeacherID], [GradeValue], [DateGiven], [DateGivenNow]) VALUES (3, 1, 1, 9, CAST(4.20 AS Decimal(4, 2)), CAST(N'2024-01-25' AS Date), CAST(N'2025-07-02' AS Date))
SET IDENTITY_INSERT [dbo].[Grades] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([GroupID], [GroupName]) VALUES (1, N'ПИ-21')
INSERT [dbo].[Groups] ([GroupID], [GroupName]) VALUES (2, N'ИВТ-23')
INSERT [dbo].[Groups] ([GroupID], [GroupName]) VALUES (3, N'ЭК-23')
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([ScheduleID], [GroupID], [SubjectID], [TeacherID], [DayOfWeek], [Time], [Room]) VALUES (1, 1, 1, 9, N'Понедельник', N'9:00', N'301')
INSERT [dbo].[Schedule] ([ScheduleID], [GroupID], [SubjectID], [TeacherID], [DayOfWeek], [Time], [Room]) VALUES (2, 1, 2, 10, N'Понедельник', N'10:40', N'302')
INSERT [dbo].[Schedule] ([ScheduleID], [GroupID], [SubjectID], [TeacherID], [DayOfWeek], [Time], [Room]) VALUES (3, 2, 3, 9, N'Вторник', N'12:20', N'205')
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
INSERT [dbo].[Students] ([StudentID], [GroupID], [EnrollmentDate]) VALUES (1, 1, CAST(N'2021-09-01' AS Date))
INSERT [dbo].[Students] ([StudentID], [GroupID], [EnrollmentDate]) VALUES (2, 2, CAST(N'2022-09-01' AS Date))
INSERT [dbo].[Students] ([StudentID], [GroupID], [EnrollmentDate]) VALUES (3, 1, CAST(N'2021-09-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectID], [SubjectName]) VALUES (1, N'Математический анализ')
INSERT [dbo].[Subjects] ([SubjectID], [SubjectName]) VALUES (2, N'Программирование')
INSERT [dbo].[Subjects] ([SubjectID], [SubjectName]) VALUES (3, N'Физика')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
INSERT [dbo].[Teachers] ([TeacherID], [Department], [SubjectID]) VALUES (9, N'Кафедра информатики', 3)
INSERT [dbo].[Teachers] ([TeacherID], [Department], [SubjectID]) VALUES (10, N'Кафедра истории', 5)
INSERT [dbo].[Teachers] ([TeacherID], [Department], [SubjectID]) VALUES (11, N'Кафедра математики', 7)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [FirstName], [LastName], [Email], [GroupID], [ProfilePicture], [Address], [Gender], [DateOfBirth], [IsAdmin]) VALUES (1, N'ivanov1', N'ivanov1', N'student', N'Иван', N'Иванов', N'ivan.ivanov@example.com', 1, NULL, N'ул. Ленина, 1', N'Мужской', CAST(N'2003-05-10' AS Date), 0)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [FirstName], [LastName], [Email], [GroupID], [ProfilePicture], [Address], [Gender], [DateOfBirth], [IsAdmin]) VALUES (2, N'petrov2', N'petrov2', N'student', N'Петр', N'Петров', N'petr.petrov@example.com', 2, NULL, N'ул. Гагарина, 2', N'Мужской', CAST(N'2004-01-15' AS Date), 0)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [FirstName], [LastName], [Email], [GroupID], [ProfilePicture], [Address], [Gender], [DateOfBirth], [IsAdmin]) VALUES (3, N'sidorova3', N'sidorova3', N'student', N'Елена', N'Сидорова', N'elena.sidorova@example.com', 1, NULL, N'пр. Мира, 3', N'Женский', CAST(N'2003-09-22' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4C9C7F415]    Script Date: 20.05.2026 23:50:53 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Grades] ADD  DEFAULT (getdate()) FOR [DateGivenNow]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teachers] ([TeacherID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teachers] ([TeacherID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Subjects] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Subjects]
GO
